@page
@model LoginModel

@{
    ViewData["Title"] = LoginResources.Title;
}

<article class="modal small">
    <h1>@LoginResources.Title</h1>
    <form id="account" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <fieldset>
            <input asp-for="Input.UsernameOrEmail" autocomplete="username" aria-required="true" placeholder required />
            <label asp-for="Input.UsernameOrEmail">@IdentityResources.Username</label>
            <span asp-validation-for="Input.UsernameOrEmail" class="text-danger"></span>
        </fieldset>
        <fieldset>
            <input asp-for="Input.Password" autocomplete="current-password" aria-required="true" placeholder required />
            <label asp-for="Input.Password">@IdentityResources.Password</label>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </fieldset>
        <fieldset>
            <input asp-for="Input.RememberMe"/>
            <label asp-for="Input.RememberMe">@LoginResources.RememberMe</label>
        </fieldset>
        <fieldset class="center">
            <button id="login-submit" type="submit" title="@LoginResources.Submit">@LoginResources.Submit</button>
        </fieldset>
    </form>
    <aside>
        <a id="forgot-password" asp-page="./ForgotPassword">@LoginResources.ForgotUsernameOrPassword</a>
        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">@LoginResources.Register</a>
        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">@ResendEmailConfirmationResources.Title</a>
    </aside>
</article>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}