@page
@model RegisterModel
@{
    ViewData["Title"] = RegisterResources.Title;
}

<article class="modal small">
    <h1>@RegisterResources.Title</h1>
    <form id="account" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <fieldset>
            <input asp-for="Input.UserName" autocomplete="username" aria-required="true" required placeholder/>
            <label asp-for="Input.UserName">@IdentityResources.Username</label>
            <span asp-validation-for="Input.UserName" class="text-danger"></span>
        </fieldset>
        <fieldset>
            <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="false" placeholder/>
            <label asp-for="Input.Email">@IdentityResources.Email</label>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </fieldset>
        <fieldset>
            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" required placeholder/>
            <label asp-for="Input.Password">@IdentityResources.Password</label>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </fieldset>
        <fieldset>
            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" required placeholder/>
            <label asp-for="Input.ConfirmPassword">@RegisterResources.ConfirmPassword</label>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </fieldset>
        <fieldset class="center">
            <button id="register-submit" type="submit" title="@RegisterResources.Submit">@RegisterResources.Submit</button>
        </fieldset>
    </form>
    <aside>
        <a asp-page="./Login">@RegisterResources.Login</a>
    </aside>
</article>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}