<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - @Options.Instance.GameName</title>

    <environment include="Development">
        <!--link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/-->
        <link rel="stylesheet" href="~/css/index.css"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
              integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"
              asp-fallback-href="~/Identity/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"/>
        <link rel="stylesheet" href="~/css/index.css" asp-append-version="true"/>
    </environment>

    <script>
    	const root = document.documentElement;
    	const theme = localStorage.getItem("theme");
    	if (
    		theme === "dark" ||
    		(!theme && window.matchMedia("(prefers-color-scheme: dark)").matches)
    	) {
    		root.classList.add("theme-dark");
    	} else {
    		root.classList.remove("theme-dark");
    	}
    </script>

    @await RenderSectionAsync("Styles", false)
</head>
<body>
<partial name="_SkipToContentPartial"/>
<header>
    <div class="logo">
        <a class="navbar-brand" href="/">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="intersect-logo-2022" data-name="intersect-logo-2022" width="512" height="512" viewBox="0 0 512 512">
                <defs>
                    <linearGradient id="linear" gradientTransform="rotate(90 0 0)">
                        <stop offset="0%" stop-color="#39669f"></stop>
                        <stop offset="100%" stop-color="#1d3b6d"></stop>
                    </linearGradient>
                </defs>
                <path data-name="logo" fill="url(#linear)" d="M388.4,332.8h0a875.94,875.94,0,0,0-265.8,0h0A877.741,877.741,0,0,0,255.5,102.4h0A877.717,877.717,0,0,0,388.4,332.8ZM104.052,373.247L34,384,255.5,512,477,384l-70.052-10.753A998.191,998.191,0,0,0,104.052,373.247ZM78.329,328.654L34,384V128L255.5,0,229.778,66.1A1000.23,1000.23,0,0,1,78.329,328.654ZM281.223,66.1L255.5,0,477,128V384l-44.33-55.346A1000.192,1000.192,0,0,1,281.223,66.1Z" transform="translate(0.5)"></path>
            </svg>
            <span class="site-name">@Options.Instance.GameName</span>
        </a>
    </div>
    <nav class="site">
        <!--ul class="horizontal" style="flex: initial;">
        <li>
            <a href="/identity/account/login">Login</a>
        </li>
        </ul-->
        @await RenderSectionAsync("HeaderNav", false)
    </nav>
    <section class="user">
        <nav>
            <partial name="_LoginPartial"/>
        </nav>
    </section>
</header>

<main>
    <aside id="sidebar-left" class="sidebar left">
        @await RenderSectionAsync("SidebarLeft", false)
    </aside>
    <aside id="sidebar-right" class="sidebar right">
        @await RenderSectionAsync("SidebarRight", false)
    </aside>
    <section class="content">
        @RenderBody()
    </section>
</main>

<footer>
    <section>
        <span>Copyright © 2023 @Options.Instance.GameName</span>
    </section>
    <section>
        <a asp-page="PrivacyPolicy">@PrivacyPolicyResources.Title</a>
        <a asp-page="TermsOfService">@TermsOfServiceResources.Title</a>
    </section>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", false)
</body>
</html>